@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus, textarea:focus, select:focus{
    outline: none !important;
}

[type='text']:focus {
    outline: none !important;
    box-shadow: none !important;
}

body {
    overflow-x: hidden !important;
}
